<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SECRET SANTA</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="main.css">
    </head>
    
    <body>
        <H2>REGISTER FOR SECRET SANTA</H2>
        <h5>Share your CHRISTMAS sprit with your friend</h5><div class='container'>
        <form action="/action_page.php">
        
        
      
            <div class="firstname">
            <label >FIRST NAME</label><br>
            <input type="text" id="fn" name="FIRST NAME"><br>
            </div>
            <div class="lastname">
                <label >LAST NAME</label><br>
                <input type="text" id="ls" name="LAST NAME"><br>
                </div>
                <div class="email">
                    <label >EMAIL</label><br>
                <input type="email" id="email" name="Email"><br>
                    </div>
              <div class="adress">
                        <label >ADDRESS</label><br>
                        <textarea cols="8" id="address" name="address"></textarea><br>
                        </div>
               <div class="about">
                            <label >ABOUT</label><br>
                            <textarea id="about" name="ABOUT"></textarea><br>
                            </div>
                            <div class="password">
                                <label >PASSWORD</label><br>
                                <input type="password" id="password" name="PASSWORD"><br><br>
                                </div>
              <div class="start">
                                    <button class="btn">GET STARTED</button>
                                    </div>
                                    <div class="login">
                                        <label >Already have an account?</label><a href="main2.html" class="signin">Sign in</a>
                                        
                                        </div>
                                    
              </div>  
                                                            
          </form>
          
   
        
        <script src="main.js" async defer></script>
    </body>
</html>